.root, .label {
    -fx-font-family: "PT Sans";
}

.header {
    -fx-font-size: 20;
}

.menu-item:hover {
     -fx-background-color: #45aac67f;
}

.grid-pane {
    -fx-hgap: 6px;
    -fx-vgap: 6px;
    -fx-padding: 10px;
}
