* {
    dark: #303030;
    light: #ec741a;
    common: #424242;
    very-dark: #1f1f1f;
}

/* Все окна */
.dialog-pane > * {
    -fx-background-color: dark;
    -fx-alignment: top-left;
}

/* Окно чата */

/* Окно опций */
.options-window {
    pfx-stage-style: style-undecorated;
    -fx-min-width: 70em;
    -fx-min-height: 40em;

}
.options-window > * {
    -fx-padding: 0;
    -fx-background-color: very-dark;
}


/* * *
 * Левая панель
 * * */
#options-menu {
    -fx-background-color: common;
    -fx-max-width: 18em;
    -fx-translate-y: 2.1em;
    -fx-translate-x: 0em;
    -fx-max-height: 22em;

}
#options-menu .list-cell {
    -fx-font-size: 1.4em;
    -fx-background-color: light;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-border-color: common;
    -fx-border-width: 1em 0 0 0, 0, 0;

}
#options-menu .list-cell:hover {
    -fx-background-color: dark;
}
#options-menu .list-cell:selected {
    -fx-background-color: dark;
}
#options-menu .list-cell:empty {
    -fx-opacity: 0;
}
#pagination, #controls {
    -fx-border-color:
        linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2em;
}


/* * *
 * Левая-нижняя панель
 * * */
#info-pane {
    -fx-background-color: light;
    -fx-translate-x: 0em;
    -fx-translate-y: 24em;
    -fx-max-height: 3em;
    -fx-max-width: 18em;
    -fx-padding: 2em;
    -fx-vgap: 0.7em;
    -fx-orientation: horizontal;

}
#info-pane > FlowPane {
    -fx-font-size: 1.4em;
    -fx-hgap: 0.5em;
    -fx-padding: 0;
    -fx-pref-width: 14em;
}
#info-pane #build-name {
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 0;
    -fx-border-color: white;
}
#about-git_branch,
#about-build_datetime {
    -fx-padding: 0;
    -fx-font-size: 120%;
}
#about-git_commit_hash,
#about-site {
    visibility: hidden;
}

/* * *
 * Верхняя панель
 * * */
#pagination {
    -fx-translate-x: 18em;
    -fx-background-color: dark;
    -fx-padding: 0 5em 1em 0;
    -fx-max-height: 0em;
    -fx-translate-y: 2em;
    -fx-alignment: center-right;
    -fx-max-width: 55em;
}
#pagination .hyperlink {
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#pagination .hyperlink:hover {
    -fx-background-color: common;
}


/* * *
 * Нижняя панель
 * * */
.button-bar {
    -fx-border-color: common;
    -fx-border-width: 0 0 0.5em 0;
}


/* * *
 * Активная зона
 * * */
#controls {
    -fx-translate-x: 18em;
    -fx-translate-y: 5em;
    -fx-max-height: 33em;
    -fx-pref-width: 52em;
    -fx-max-width: 52em;
    -fx-background-color: dark;
}
#controls > BorderPane {
    -fx-max-height: 31em;
    -fx-pref-height: 31em;
    -fx-pref-width: 50em;
    -fx-max-width: 50em;
    -fx-border-width: 0;
    -fx-translate-x: 1em;
}
#controls .scroll-pane {
    -fx-background-color: dark;
}
#controls-bottom-buttons {
    -fx-pref-width: 60em;
    -fx-padding: 0.3em;
    -fx-background-color: dark;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, -4);
    -fx-border-width: 1 0 0 0;
}
#controls-bottom-buttons > .button {
    -fx-min-width: 6em;
    -fx-font-size: 0.9em;
}
/* Незаполненные заголовки таблицы*/
#controls .filler {
    -fx-background-color: very-dark;
}


/* * *
 * Элементы структуры
 * * */
/*Список*/
.list-view, .list-view .list-cell {
    -fx-background-color: dark;
    -fx-text-fill: white;
}
.list-view .list-cell {
    -fx-border-color: #268;
    -fx-border-width: 1 0 0 0;
}

.list-view .list-cell:selected {
    -fx-background-color: light;
}
.list-view .list-cell:hover {
    -fx-background-color: common;
}

/*Таблица*/
.table-row-cell {
    -fx-background-color: dark;
}
.column-header {
    -fx-background-color: common;
}
.column-header:hover,
.table-row-cell:hover,
.table-row-cell:focused {
    -fx-background-color: light;
}

/*Древовидная таблица*/
.tree-table-row-cell {
    -fx-background-color: dark;
}
.tree-table-row-cell:hover,
.tree-table-row-cell:focused {
    -fx-background-color: light;
}

/*Обычная панелька*/
.grid-pane {
    -fx-background-color: dark;
    -fx-hgap: 3em;
    -fx-vgap: 1.1em;
    -fx-padding: 0 0 0 1em;
    -fx-insets: 0 0 30em 0;
}
.grid-pane > Text {
    -fx-background: transparent;
    -fx-fill: white;
}

.color-palette {
    -fx-background-color: common;
}


/* * *
 * Управляющие элементы
 * * */
.root, .label, .text {
    -fx-font-family: "PT Sans";
    -fx-text-fill: white;
    -fx-fill: white;
}

.button {
    -fx-text-fill: white;
    -fx-border-width: 1px;
    -fx-background-insets: 0 0 1 0;
    -fx-border-color: rgba(0,0,0,0.3);
    -fx-background-radius: 1px;
    -fx-border-radius: 1px;
    -fx-background-color: common;
}
.button:hover {
    -fx-background-color: very-dark;
}


.scroll-bar {
    -fx-background-color: dark;
}
.scroll-bar .track{
    -fx-background-color: transparent;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .thumb {
    -fx-background-color: light;
    -fx-padding: 5px;
    -fx-background-radius: 2px;
}
.scroll-bar .thumb {
    -fx-background-insets: 4 6 4 6;
}
.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover,
.scroll-bar .thumb:hover {
    -fx-background-color: white;
}
.scroll-bar .increment-button .increment-arrow,
.scroll-bar .decrement-button .decrement-arrow {
    -fx-background-color: white;
}
.scroll-bar .increment-button:hover .increment-arrow,
.scroll-bar .decrement-button:hover .decrement-arrow {
    -fx-background-color: dark;
}


.check-box .box {
    -fx-background-color: common;
}
.check-box:hover .box {
    -fx-background-color: light;
}
.check-box .mark {
    -fx-background-color: common;
}
.check-box:selected .mark {
    -fx-background-color: white;
}


.combo-box-base {
    -fx-background-color: common;
}
.combo-box-base:hover {
    -fx-background-color: light;
}


.arrow {
    -fx-background-color: white;
}


.hint {
    -fx-background-color: common;
    -fx-font-size: 1.2em;
    -fx-padding: 0 0.5em 0 0.5em, 0, 0, 0;
    -fx-text-fill: white;
}
.hint:hover {
    -fx-background-color: light;
}


.spinner .increment-arrow-button,
.spinner .decrement-arrow-button{
    -fx-background-color: common;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover{
    -fx-background-color: light;
}
.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: white;
}

.header {
    -fx-font-size: 20;
}


.context-menu {
    -fx-background-color: common;
}

.context-menu .menu-item .label{
    -fx-text-fill: white;
}

.context-menu .menu-item:hover,
.context-menu .menu-item:selected {
    -fx-background-color: light;
}


.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#plugins-list .plugin-cell {
    -fx-padding: 0.5em;
    -fx-background-insets: 0.5em;
    -fx-spacing: 0.5em;
    -fx-background-color: very-dark;
}

#plugins-list .plugin-cell > Button {
    -fx-border-insets: 0 0.3em 0.3em 0.3em;
    -fx-background-insets: 0 0.3em 0.3em 0.3em;
}

#plugins-list .plugin-cell .plugin-line {
    -fx-padding: 0.3em 0.3em 0.6em 0.3em;
    -fx-background-color: very-dark, common;
    -fx-background-insets: 0 0 0 0, 0 0 0 3em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 3, 0, 0);
    -fx-alignment: center;
}

#plugins-list .plugin-cell .plugin-type-letter {
    -fx-pref-width: 3em;
    -fx-padding: 0 0.5em 0 0.3em;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-scale-x:1.5;
    -fx-scale-y:1.5;
}

#plugins-list .plugin-name {
    -fx-padding: 0.5em;
}

#plugins-list .plugin-cell .plugin-line:hover {
    -fx-background-color: black, very-dark;
}

#plugins-list .plugin-cell.blacklisted .plugin-line{
    -fx-background-color: #444;
}

#commandTab #saved-label, #commandTab .command-link Text,
#commandTab .placeholder Text, .notification Text, .font-selector-dialog Text {
    -fx-fill: white;
}
#commandTab #toggle-view {
    -fx-alignment: center-right;
    -fx-hgap: 1em;
    -fx-max-width: 20em;
}
#commandTab .titled-pane .title {
    -fx-background-color: common;
    -fx-border-color: dark;
    -fx-border-width: 1 0 0 0;
}
#commandTab .titled-pane .title:hover {
    -fx-background-color: light;
    -fx-border-color: dark;
    -fx-border-width: 1 0 0 0;
}
#commandTab .scroll-bar{
    -fx-background-color: dark;
}

.notification{
    -fx-max-width:36.5em;
}
.notification Label {
    -fx-max-width:35em;
}
.chat_window-chat {
    pfx-stage-style: style-transparent;
    -fx-background-color: transparent;
    -fx-min-height: 35em;
}
.chat_window-chat #background {
    -fx-background-color: rgba(40,40,40,0.8);
    -fx-border-color: rgb(40,40,40);
    -fx-border-width: 1px;
}
.chat_window-chat .content {
    -fx-translate-y: 2.5em;
    -fx-border-color: rgb(40,40,40);
    -fx-border-width: 1px 0 0 0;
}
.chat_window-chat .content, .chat_window-chat .grid-pane, .scroll-bar {
    -fx-background-color: transparent;
}
.chat_window-chat #textarea .viewport, .chat_window-chat #textarea TextFlow {
    -fx-background-color: transparent;
    -fx-font-size:1.20em;
}
.chat_window-chat TextFlow{
    -fx-max-height: 4em;
}
.chat_window-chat #textarea #text{
    -fx-fill: white;
}
.chat_window-chat #input {
    -fx-pref-width: 25em;
    -fx-background-color: light;
    -fx-text-fill: white;
    -fx-border-color: rgb(10,30,40);
    -fx-border-width: 1px;
}
.chat_window-chat #input-line {
    -fx-spacing:1em;
}
.chat_window-chat #input-line > * {
    -fx-pref-height: 2.3em;
}
.chat_window-chat #options {
    -fx-background-color: dark;
}
.chat_window-chat #options:hover{
    -fx-background-color: very-dark;
}


.font-selector-dialog {
    -fx-background-color: light;
}
.font-selector-dialog .content {
    -fx-background-color: light;
}

.edit-command #content {
    -fx-spacing: 1em;
}
.edit-command GridPane {
    -fx-vgap: 0.5em;
    -fx-hgap: 0.5em;
}
.edit-command GridPane Text {
    -fx-fill: white;
}

.edit-command #content {
    -fx-padding: 1em;
}
.edit-command .content, .edit-command #content > *{
    -fx-max-width: 25em;
}

.edit-command #content > Label {
    -fx-background-color: light;
    -fx-padding: 0.5em;
    -fx-min-height: 5em;
    -fx-alignment: top-left;
}

.edit-command .list-cell #non-exist .text{
    -fx-text-fill: #F55;
    -fx-fill: #F55;
    -fx-font-weight: bold;
}

#user-balloon VBox {
    -fx-spacing: 1em;
    -fx-alignment: center;
}

#user-balloon HBox {
    -fx-spacing: 1em;
}